.nav-container {
  width: 100%;
  max-width: 100%;
  padding-right: 0;
  padding-left: 2vw;
  justify-content: space-between;
  transition: all 0.6s ease;
  display: flex;
  align-items: center;

  /* border */
  border-bottom: 2px solid black;
}

.nav-menu {
  display: flex;
  margin-right: 0;
  align-items: center;
  border-left: 2px solid #000;
  transition: margin 0.6s ease-in-out, flex 0.6s ease-in-out;
}

.nav-link {
  cursor: pointer;
  position: relative;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  padding: 0;
  font-size: 1rem;
  color: #000;
}
.nav-link.black {
  margin-right: 0;
  margin-left: 0;
  padding: 1.5rem 3vw;
  border-left: 2px solid #000;
  background-color: #000;
  color: #fff;
}
.nav-link:hover {
  background-color: #ffab29;
  color: #000;
}
.nav-link.white {
  margin-right: 0;
  margin-left: 0;
  padding: 1.5rem 3vw;
}
.nav-link:hover {
  background-color: #ffab29;
}
